nix_direnv_manual_reload
export MC_RTC_WITH_ROS="1"
export MC_RTC_USE_LOCAL="1"
use flake ../../nixpkgs#mc-rtc-superbuild-rolkneematics --impure
export LD_LIBRARY_PATH=/home/arnaud/devel/mc-rtc-nix/install/lib:$LD_LIBRARY_PATH
export LD_LIBRARY_PATH=/home/arnaud/devel/mc-rtc-nix/install/lib64:$LD_LIBRARY_PATH
export PATH=/home/arnaud/devel/mc-rtc-nix/install/bin:$PATH
